<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069943460237-4ln6ct15ipljstraarn46ratd8edeqqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069943460237-4ln6ct15ipljstraarn46ratd8edeqqs</string>
	<key>API_KEY</key>
	<string>AIzaSyClJ39fXfSVRa0a2NXeAxVoqwrvYOHgnuo</string>
	<key>GCM_SENDER_ID</key>
	<string>1069943460237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petPals</string>
	<key>PROJECT_ID</key>
	<string>petpals-9935f</string>
	<key>STORAGE_BUCKET</key>
	<string>petpals-9935f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069943460237:ios:e71d09341572a55cf4adc4</string>
</dict>
</plist>